<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>E-Commerce Static Site</title>
</head>
<body>
    <header class="header-style">
        <nav class="navbar-style">
            <ul class="nav-style">
                <a href=""><img src="/static/images/" alt="logo"></a>   
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="/layouts/page/products.html">Productos</a></li>
                <li><a href="/layouts/page/questions.html">Preguntas Frecuentes</a></li>
                <li><a href="/layouts/page/contact.html">Contacto</a></li>
                <li><a href="/layouts/page/cart.html"></a></li>
            </ul>
        </nav>
    </header>
    <main class="main-style">
        <section class="banner">
            <div>
                <!-- Banner: Open shop | Monthly promotions | New arrivals -->
                <!-- Gif Image | Png Image | Svg Image -->
            </div>
        </section>
        <section class="featured-products">
            <div>
                <!-- Main featured products -->
            </div>
        </section>
        <section class="top-sale-products">
            <div>
                <!-- Most sold products -->
            </div>
        </section>
        <section class="promotional-products">
            <div>
                <!-- Promotional products | Sale products -->
            </div>
        </section>
        <section class="advertising">
            <div>
                <!-- Brand promotions | Advertising -->
            </div>
        </section>        
    </main>
    <footer class="footer-style">
        <section class="nav-shortcut">
            <div>
                <!-- Navigation shortcut -->
            </div>
        </section>
        <section class="contact-detail">
            <div>
                <!-- Contact details | Adress | Phone & more -->
            </div>
        </section>
        <section class="social-media">
            <div class="facebook-logo">
                <!-- Facebook -->
            </div>
            <div class="instagram-logo">
                <!-- Instagram -->
            </div>
            <div class="whatsapp-logo">
                <!-- WhatsApp -->
            </div>
            <div class="twitter-logo">
                <!-- Twitter -->
            </div>
        </section>
    </footer>
</body>
</html>